.heroContainer {
  width: 100%;
  padding: 100px 20px;
  background: linear-gradient(135deg,
      var(--color-primary),
      var(--color-primary-dark));
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  max-width: 900px;
}

.title {
  font-size: var(--font-xxxl);
  font-weight: 700;
  color: #ffffff;
  margin-bottom:var(--space-md) ;
}

.subtitle {
  font-size: var(--font-lg);
  color: #e6e6e6;
  margin-bottom: var(--space-xl);
  line-height: 1.6;
}

.ctaButton {
  display: inline-block;
  background-color: #ffffff;
  color: #0A66C2;
  padding: var(--space-sm) var(--space-xl);
  font-size: var(--font-lg);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.ctaButton:hover {
  background-color: #e6e6e6;
}

.smallText {
  margin-top: 20px;
  font-size: 16px;
  color: #f0f0f0;
}